<app-navbar></app-navbar>
<div class="max-w-2xl mx-auto mt-10 p-6 bg-white rounded-xl shadow-md">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">👤 Profile</h2>

  <div class="space-y-4">
    <div class="flex justify-between">
      <span class="text-gray-600 font-medium">Name:</span>
      <span class="text-gray-900">{{ user?.firstName }}  {{user?.lastName}}</span>
    </div>

    <div class="flex justify-between">
      <span class="text-gray-600 font-medium">Student ID:</span>
      <span class="text-gray-900">{{ user?.studentId }}</span>
    </div>

    <div class="flex justify-between">
      <span class="text-gray-600 font-medium">Email:</span>
      <span class="text-gray-900">{{ user?.email }}</span>
    </div>

    <div class="flex justify-between">
      <span class="text-gray-600 font-medium">Role:</span>
      <span class="text-gray-900">{{ user?.role }}</span>
    </div>

    <div class="flex justify-between">
      <span class="text-gray-600 font-medium">Joined:</span>
      <span class="text-gray-900">{{ user?.createdAt }}</span>
    </div>
  </div>

  <div class="mt-6 text-right">
    <button class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
      Edit Profile
    </button>
  </div>
</div>
